page-home {

}
.g-grid-col{
	border:1px solid #000;
    padding:0px !important;
}
.da-bottom-w{
	    background: #000;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 2px;
    color: #fff;
    text-align: center;
    left: 0px;
    font-size: 12px;
    opacity: 0.7;
}
.g-grid-col img{
	width:100%;
	height:100%;
    max-height:100%;
}
.scroll-content{
    padding:0px !important;
}
